body {
	background: #FEDA51;
	font-family: 'Roboto';
}

#wrapper {
	margin-top: 10% !important;
}

#content {
	background: #833BEC;
	padding: 35px;
	border-radius: 1%;
}

#content>h2 {
	font-size: 20px;
	text-align: center;
	margin: 35px;
	/* padding-top: 0; */
	color: aliceblue;
}

.t10 {
	margin-top: 10px;
}

.t20 {
	margin-top: 20px;
}

.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
	color: aliceblue;
}